<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>KaoGongSi - Find Jobs</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../static/assets/css/edu-style.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.css">
    <link rel="stylesheet" href="../../static/assets/css/lightbox.css">

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="../../static/logo.png" style="width:200px;height:120px">
                      </a>
					  


                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/indexgeren" class="active">首页</a></li>
                          <li><a href="/peixun">培训</a></li>
                          <li><a href="/zhengce">人才政策</a></li>
						  <li><a href="/zhao">招聘信息</a></li>
                          </li>
                          <li class="scroll-to-section"><a href="#contact-section">联系我们</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">个人中心</a>
                              <ul class="sub-menu">
                                  <li><a href="/information_username">查看个人信息</a></li>
                                  <li><a href="/message_user">修改个人信息</a></li>
                              </ul>
                          </li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
			  
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>找到完美工作的最简单方法</h6>
            <h2>找到你的下一份 <em> 理想工作</em></h2>
            <div class="main-button-gradient">
              <a href="/select_company">找工作？</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="../../static/assets/images/girl1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>我们的培训</h6>
            <h4>in-service <em>training</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>面试培训</h4>
                <p>掌握面试技巧，精确面试</p>
				
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>写作</h4>
                <p>新闻写作和常用公文写作技巧</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>会务礼仪</h4>
                <p>会务与礼仪实操</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>法律风险</h4>
                <p>企业招聘中的法律风险和应对策略</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Excel</h4>
                <p>Excel在职场中的高效运用技能</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>销售技巧</h4>
                <p>大客户销售的技巧和策略</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>营销思维</h4>
                <p>创新营销思维和新媒体营销策略</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="../../static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>政策解析</h4>
                <p>医保专题培训班</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>人才政策</h6>
            <h4>Newest <em>政策</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border">河北迁西：“1+N”<span></span></div>
                    <div class="gradient-border"><span>漯河:“招才引智”</span></div>
					<div class="gradient-border"><span>咸阳市</span></div>
					
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-01.jpg" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>河北迁西：“1+N”人才政策体系支撑引领高质量发展</h4>
                          <p>近年来，河北省迁西县始终坚持人才是第一资源，积极发挥人才工作引领高质量发展的关键作用，以首善标准做好新时代人才工作，为加快建设“京东旅游胜地、燕山生态明珠、宜居宜业新城”提供人才支撑。
                          <br><br>精准打造政策体系。围绕人才“引、用、育、留”全链条，构建具有地方特色的“1+N”人才政策体系，
						  编制《迁西县“十四五”期间人才发展规划》总纲领，精准发力；针对教师引进、人才队伍结构优化、
						  促进高校毕业生就业创业等方面，制定《迁西县深化拓展“栗乡英才”计划若干政策措施》《迁西县“聚英才、保就业”政策十二条》
						  《迁西县关于促进高校毕业生就业创业的若干优惠政策》等含金量高、
						  创新力度大的“N”项政策举措。梳理“一个清单、两个流程图”“青年人才政策奖补落实十问十答”等内容......</p>
                          <div class="text-button">
                            <a href="https://ts.hebnews.cn/2023-06/16/content_9021203.htm">原文阅读</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-02.jpg" alt="">
                     
                        </div>
                        <div class="right-content">
                          <h4>漯河推出系列优惠政策“招才引智” 4469个岗位等你来</h4>
                          <p>据介绍，6月18日，由漯河市人民政府承办的全省招才引智创新发展大会“食全食美 漯在其中”食品领域招聘专场，将在河南工业大学莲花街校区举办。
						  漯河作为首家中国食品名城、中国食品装备名城，承办的本届大会重点领域招才引智专场，也是唯一一家由省辖市承办的招聘专场。
						  <br><br>截至目前，确定了以双汇、卫龙、南街村、米多奇、郑州顶津等为代表的市内外166家“需求层次高、岗位质量优、薪酬待遇好”
						  的用人单位参加本次招聘活动，共发布招聘岗位4469个，涵盖食品研发、食品安全、食品机械、冷链运输等多个行业领域;涉及食品工程
						  与科学、食品质量与安全、机械制造等36个专业。其中，在岗位需求中，博士、硕士研究生334名，本科生4135名。薪酬待遇上...</p>
						 
                          <div class="text-button">
                            <a href="http://www.henan100.com/news/2023/1156142.shtml">原文阅读</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-03.jpg" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>咸阳：创设美好环境 聚人才兴事业</h4>
                          <p>随着“兴咸人才计划”、咸阳市科技创新人才培育和服务办法、《关于进一步加强招才引智工作推进咸阳高质量发展的若干措施》
						  《关于加强人才工作推进秦创原创新驱动平台咸阳核心区建设若干措施》等政策红利密集释放，咸阳大地上迎来了八方英才，这些
						  人才的引进，成为推进全市经济社会发展的重要“支撑”。
						  <br><br>咸阳坚定不移地实施人才强市战略，坚持政策、机制、环境三管齐下，这一点中国船舶集团有限公司第十二研究所规划发
						  展部主任王佐平感受很深。他说：在咸阳的大力支持下，十二所秦创原专项“低膨胀高模量铝基复合材料研究”项目成功立项，支持
						  十二所100万元项目资金，进一步推动了“先进耐磨蚀材料工程技术研究中心”建设顺利开展。良好的创新创业政策环境，让来咸人才
						  没有后顾之忧，人才在创新创业上一定能够展翅高飞。</p>
                          
                          <div class="text-button">
                            <a href="https://k.sina.com.cn/article_1944060273_73e0017102001481q.html?sudaref=news.so.com&display=0&retcode=6102">原文阅读</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-04.jpg" alt="">
                          <div class="price"><h6>$76</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>WordPress Introduction</h4>
                          <p>Quinoa roof party squid prism sustainable letterpress cray hammock tumeric man bun mixtape tofu subway tile cronut. Deep v ennui subway tile organic seitan.<br><br>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
                          <span>48 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">2 Certificates</span>
                          <div class="text-button">
                            <a href="../contact_us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>招聘信息</h6>
            <h4>What is needed <em>now！</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“招募实习生”</p>
                <h4>麦当劳</h4>
                <span>CEO &amp; Founder</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“燕山 | 招聘操作工（接受实习生）”</p>
                <h4>联系人：李经理</h4>
                <span>北京祥盛和顺工贸有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“招募两名java开发工程师”</p>
                <h4>联系人：李静云/人事部长</h4>
                <span>北京物通时空网络科技开发有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“招募系统运维工程师”</p>
                <h4>联系人：张先生</h4>
                <span>中科软科技股份有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“招聘数字IC设计工程师”</p>
                <h4>联系人：林/HR</h4>
                <span>北京中宸微电子有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“招募一名投资经理<p>
                <h4>联系人：胡健/HR</h4>
                <span>北京文博启胜投资有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“证券柜员”</p>
                <h4>联系人：许延铎</h4>
                <span>民生证券</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>“保险项目经理/保险产品开发”</p>
                <h4>王女士</h4>
                <span>领航国际保险经纪有限公司</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="../../static/assets/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>高顿教育</h6>
          <h4>科技驱动,构建国际化的终身教育生态系统</h4>
          <p>15年专注财经教育培训，旗下培训证书包括：ACCA、CFA、CMA、CPA、会计职称、证券等。</p>
          <div class="white-button">
            <a href="https://www.gaodun.com/?pc-360ppzd-bt">进入官网</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <img src="../../static/assets/images/man1.png" width="100%" height="520px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></img>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>电话</h4>
                  <span>010-020-0340</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>座机</h4>
                  <span>090-080-0760</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>如果你有什么其他的问题，欢迎联系我们</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 EduWell Co., Ltd. All Rights Reserved. 
          
          <br>Design: <a rel="sponsored" href="https://template.com" target="_blank">template</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../static/assets/js/isotope.min.js"></script>
    <script src="../../static/assets/js/owl-carousel.js"></script>
    <script src="../../static/assets/js/lightbox.js"></script>
    <script src="../../static/assets/js/tabs.js"></script>
    <script src="../../static/assets/js/video.js"></script>
    <script src="../../static/assets/js/slick-slider.js"></script>
    <script src="../../static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>