<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>KaoGongSi - Find Staffs</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../static/assets/css/edu-style.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.css">
    <link rel="stylesheet" href="../../static/assets/css/lightbox.css">

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="../../static/assets/images/logo.jpg" style="width:200px;height:120px">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="/company_index" class="active">首页</a></li>
                          <li><a href="/fabuchangpin">发布招聘</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">档案库</a>
                              <ul class="sub-menu">
                                  <li><a href="/gongsirencai">查看公司员工</a></li>
                                  <li><a href="/new_employee">新添公司员工</a></li>
                                  <li><a href="/change_employee">修改员工信息</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#contact-section">联系我们</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>找到完美员工的最简单方法</h6>
            <h2>找到你的下一位 <em>理想员工</em></h2>
            <div class="main-button-gradient">
              <a href="/ssss">找员工？</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="../../static/assets/images/girl1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h4>帮你找到 <em>好的员工</em></h4>
            
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span><a href="/fabuchangpin">发布招聘</a></span></div>
                      <div class="gradient-border"><span><a href="/rencaidangan">人才档案</a></span></div>
                    <div class="gradient-border"><span><a href="/gongsirencai">公司人才管理</a></span></div>
              
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-01.jpg" alt="">
                          <div class="price"><h6>$128</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>发布招聘</h4>
                    
                          <span class="last-span">发布新的招聘广告</span>
                          <div class="text-button">
                            <a href="/fabuchangpin">前往</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-02.jpg" alt="">
                          <div class="price"><h6>$156</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>人才档案</h4>
                       
                          <span class="last-span">查看简历</span>
                          <div class="text-button">
                            <a href="contact-us.html">前往</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="../../static/assets/images/courses-03.jpg" alt="">
                          <div class="price"><h6>$184</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>公司人才管理</h4>
                          
                          <span class="last-span">公司人才档案</span>
                          <div class="text-button">
                            <a href="contact-us.html">前往</a>
                          </div>
                        </div>
                      </div>
                    </li>
					
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="../../static/assets/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Go the talent market right now!</h6>
          <h4>应届毕业生查询</h4>
          
          <div class="white-button">
            <a href="contact-us.html">前往</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            
            <h4>人才 <em>市场</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>今天能够站在这里参加面试，有机会向各位考官请教和学
习，我感到非常的高兴。希望通过这次面试能够把自己展示给
大家。今年x岁。汉族，法学本科。我平时喜欢看书和上网浏览
信息。我的性格比较开朗，随和。能关系周围的任何事，和亲
人朋友能够和睦相处，并且对生活充满了信心。我以前在检察
院实习过，所以有一定的实践经验。在外地求学的四年中，我
养成了坚强的性格，这种性格使我克服了学习和生活中的一些
困难，积极进去。</p>
                <h4>人才A</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>本人主修金融学，语言表达、写作和组织协调能力比较突
出，希望不局限与财务工作，寻找更适合自己的管理行政类岗
位。</p>
                <h4>人才H</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>我性格开朗，自信热情，做事脚踏实地、做事稳重、有责
				任心、能吃苦耐劳，富有时间观念，富于团队合作精神和集体
				荣誉感及企业忠诚度。待人真诚，喜欢交际。作为一名应届毕
				业生，可能我没有足够的经验，但是我的适应能力强，学习能
				力强，我相信如果我应聘上，我相信我一定能做好。</p>
                <h4>人才B</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>我是__，是__学校工商管理专业的一名应届毕业生，我在班上担任了班干部，配合了其他干部的工作，
			  积极为同学们服务。在学习上，我全力学好每门专业课程，
			  让自己的专业知识更坚实，为自己以后的工作奠定坚实的基础，在课余时间，我报了自学考试，
			  现已通过了十门，并且获得了“助理物流师”以及“英语四级证书”和计算机二级证书”。通过做兼职和实习，
			  也让我积累了一些经验。</p>
                <h4>人才C</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>我叫__，现年__岁，x族，大专文化，平时我喜欢看书和上网流览信息，性格活泼开朗，能关心身边的人和事，
			  和亲人朋友融洽相处，能做到理解和原谅，我对生活充满信心。我曾经在__工作，
			  在公司里先后在不同的岗位工作过，开始我从事__工作，随后因公司需要到__，
			  有一定的社会实践经验，在工作上取得一些的成绩，同时也得到公司的认可。</p>
                <h4>人才D</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>下面做一下自我介绍：我叫：蒋文亚，今年22岁，20__年毕业于__学院，
			  3年正规化的教育，使我掌握了扎实的理论功底，两年多的护士工作经验让
			  我有了较熟练的实际操作能力。我的性格很随和，待人真诚，更坚守了我想
			  用实际行动履行救死扶伤职责的信心，我现在最希望的就是各位领导能给我
			  这个机会，让我有机会在该院的医护事业上添砖加瓦。最后祝贵院的医学事业蒸蒸日上，谢谢大家!</p>
                <h4>人才E</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>我是__人，生于__年，因为高考发挥失常，我选择了__大学自考本科，
			  我学的是法律，在读大学的日子，我一直很注重提高自己的综合素质，
			  不管是从学业上还是在处理事情的能力方面，我都严格要求自己。</p>
                <h4>人才F</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>我叫x，来自x，x岁。于今年毕业于x大学，专业为商务英语，我在__店门市工作过，
			  对服务好顾客有一定的心得。我的英语基础良好，已获得了大学英语四级证书，
			  也在外贸公司实习过。我奉行态度决定一切的原则，我相信只要踏踏实实的做好每一个细节，
			  服务好客户，通过自己的不懈努力，一定会在拥有出色的工作业绩。</p>
                <h4>人才G</h4>
                <span>毕业于xxx</span>
                <img src="../../static/assets/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <img src="../../static/assets/images/man1.png" width="100%" height="520px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></img>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>电话</h4>
                  <span>010-020-0340</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>座机</h4>
                  <span>090-080-0760</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>如果你有什么其他的问题，欢迎联系我们</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2022 EduWell Co., Ltd. All Rights Reserved. 
          
          <br>Design: <a rel="sponsored" href="https://template.com" target="_blank">template</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../static/assets/js/isotope.min.js"></script>
    <script src="../../static/assets/js/owl-carousel.js"></script>
    <script src="../../static/assets/js/lightbox.js"></script>
    <script src="../../static/assets/js/tabs.js"></script>
    <script src="../../static/assets/js/video.js"></script>
    <script src="../../static/assets/js/slick-slider.js"></script>
    <script src="../../static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        let showSection = function showSection(section, isAnimate) {
          let
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        let checkSection = function checkSection() {
          $('.section').each(function () {
            let
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              let
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>