<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../static/assets/css/about.css">
	<title>搜索</title>
</head>
<body>
    <div class="about">
        <div class="stars"></div>
		
			<!--搜索框-->
			<h3 class="about_tit">查找您需要的人才
			 <div class="search">
			<form action="/search1" method="post">
            <input placeholder="输入您所需要的人才领域..." name="keyword" type="text">
            <button type="submit"></button>
			</form>
			</div>

			</h3>
        <img class="about_bgc" src="../../static/2.png" alt="">
        <div class='ribbon'>
           <!-- <a href='./index.html'><span>首页</span></a>  -->
            <a href='javascript:history.back(-1)'><span>返回</span></a>
            </div>
		
		<h2><div style = "text-align:center">人才市场</div></h2>
        <div class="me">
            <!-- <img class="me_img" src="./img/7.JPG" alt=""> -->
            <iframe src="../../static/10.jpg" scrolling="no" frameborder="0" width="700px" height="600px"></iframe>
            <span class="me_tit animate ">
                本人以诚待人，有良好的沟通潜力和团队精神；对工作充满热情，能学好问，听从领导的安排，适应潜力强，踏实勤奋，创新务实，节奏快效率高，对公司负责同时也对自己负责；希望在工作中不断的充实自我完善自我。

　　诚实稳重勤奋用心上进，拥有丰富的大中型企业管理经验，有较强的团队管理潜力，良好的沟通协调组织潜力，敏锐的洞察力，自信是我的魅力。我有着良好的形象和气质，健康的体魄和乐观的精神使我能全身心地投入到工作当中。
本人性格开朗、为人诚恳，思维活跃，易于沟通，具有较好的团队意识。希望能通过自己的努力成为一个优秀的设计师。喜欢设计，喜欢在生活中寻找创意，因为设计让我着迷，让我微笑。虽然没有丰富的社会经验，但希望我能有缘加盟贵公司展现我对艺术的热爱并希望自己有这样一段经历。
            </span>
        </div>
        <div class="videos">
            <span>
                1、本人性格开朗、踏实、稳重、有活力，待人热情、真诚。喜欢在空余的时间看书和听音乐，从中减轻平时学习中带来的压力，还可以学到书本中学不到的知识，开拓自己的眼界。积极并不断进取是我做事的原则，谦虚和谨慎是我的优点，懂得不断从生活和学习中提高和完善自己。

　　2、性格乐观开朗，对生活充满热情，勤勉坚毅；兴趣广泛，爱好音乐，体育活动，有健康的体魄；注重团队精神，有责任心；注重细节，认真负责；具有快速的适应能力和较强的学习能力；凡事踏踏实实，尽心尽力，善始善终。

　　3、本人是一个开朗活泼、意志力较坚强且不轻易放弃每一分希望的人。本人现在仍是一名在校生，故对知识与社会经验不够，但本人充满青春的活力、本人是一个空杯需要大家的灌注与自本人不断的充实才能看到里面有水的存在。本人希望自己能成为一名出色的推销大师，这是本人的梦想，也是本人的目标！诚实做人，忠实做事是本人的人生准则，自强不息是本人的追求。

　　4、本人性格有点内向，待人真诚，对工作有上进心，适应能力方面还可以以及团队精神，并能很好地同事相处并协同工作。在以往4年的工作中，对工作负责也能细心完成本职工作，工作能吃苦耐劳，如有幸被录用我将会竭尽全力为贵单位创造效益，以尽情体现自身能力和价值。望贵公司给我一个机会！
            </span>
            <!-- <video width="800" controls id="video" preload="auto" height="100%" autoplay="autoplay" loop="loop" type="video/mp4" src="./video/videos.mp4"></video> -->
            <img src="../../static/11.jpg" alt="" width="550px" height="600px">
        </div>
    </div>
</body>
