<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考功司</title>
    <link rel="stylesheet" href="../static/assets/css/index.css">
</head>
<body>
<div class="container flex">
    <div class="left">
        <div class="image" style="height: 700px">
            <img src="../static/employee.jpg" style="width: 100%;height: 100%">
            <div class="mask"></div>
        </div>

        <div class="box_left">
            <div class="access">
                <img src="../static/left.png" style="height: 70px;width: 70%">
            </div>
            <div class="tip">
                <a href="/login1">
                    <span style="color: #2c94ff"><b><i>学生/求职者</i></b></span><br>
                    <span style="color: #2c94ff"><b><i>← 进入</i></b></span>
                </a>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="image" style="height: 700px">
            <img src="../static/authority.jpg" style="width: 100%;height: 100%">
            <div class="mask"></div>
        </div>

        <div class="box_right">
            <div class="access">
                <img src="../static/right.png" style="height: 100%;width: 100%">
            </div>

            <div class="tip">
                <a href="/company_login">
                    <span style="color: #2c94ff"><b><i>背调/管理</i></b></span><br>
                    <span style="color: #2c94ff"><b><i>进入 →</i></b></span>
                </a>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="../static/logo.png" style="width: 100%;height: 100%">
    </div>
</div>

</body>
</html>